boto3==1.7.50
botocore==1.10.50
certifi==2022.12.7
chardet==3.0.4
click==6.6
docutils==0.14
futures==3.1.1
idna==2.6
jmespath==0.9.3
pyaml==15.8.2
python-dateutil==2.7.3
python-lambda==3.2.2
pytz==2017.3
PyYAML==3.11
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
slackclient==1.1.0
urllib3==1.22
websocket-client==0.46.0
